{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .Authenticated}}
        <form id="add-a-link-form" class="hidden" method="post" action="/link">
            <div>
                <label for="create-link-url">URL</label>
                {{with .FormErrors.url}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input id="create-link-url" required type="url" name="url" value="{{.FormData.Get "url"}}"/>
            </div>
            <div>
                <label for="create-link-display-url">Display URL</label>
                <span>(if you'd like the screenshot to show a different URL than the link)</span>
                {{with .FormErrors.display_url}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input id="create-link-display-url" type="url" name="display_url"
                       value="{{.FormData.Get "display_url"}}"/>
            </div>
            <div>
                <input type="submit" name="Submit Link"/>
            </div>
        </form>
        <h2>Your links <button id="add-a-link" class="text small">Add a link</button></h2>
        <div class="screenshots-container">
            <div class="screenshots-row">
                {{range $i, $link := .Links}}
                <a class="screenshot-image" style="background-image: url({{$link.ScreenshotUrl}});"
                   href="{{$link.Url}}" target="_blank">
                    <div class="screenshot-link">
                        <div>{{$link.Url}}</div>
                    </div>
                </a>
                {{if mod $i 3}}
            </div>
            <div class="screenshots-row">
                {{end}}
                {{/*            URL: {{.Url}}*/}}
                {{/*            Display URL: {{.DisplayUrl}}*/}}
                {{/*            Screenshot URL: {{ .ScreenshotUrl}}*/}}
                {{end}}
            </div>
        </div>
    {{ else }}
        <div>Log in to start submitting links</div>
    {{ end }}
{{end}}
