{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Multi Factor Login</h2>
    <div>An MFA code has been sent to the phone number associated with your account. Please enter it below in order to complete your login</div>
    <form method="post" action="/log-in/sms">
        <div>
            <label for="log-in-mfa-token">MFA Token</label>
            {{with .FormErrors.mfa_token}}
                <label class="error">{{.}}</label>
            {{end}}
            <input id="log-in-mfa-token" required type="text" name="mfa_token" value="{{.FormData.Get "mfa_token"}}"/>
        </div>
        <div>
            <input type="submit" value="Log in"/>
        </div>
    </form>
{{end}}
