:root {
    --bg-transparency: 0.75;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(#f1f1f1 2px, transparent 2px), linear-gradient(90deg, #f1f1f1 2px, transparent 2px), linear-gradient(#f1f1f1 1px, transparent 1px), linear-gradient(90deg, #f1f1f1 1px, #ffffff 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    padding: 0;
    margin: 0;
}

button.text {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: none;
    cursor: pointer;
}

header {
    background-color: rgba(255, 255, 255, var(--bg-transparency));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    height: 90px;
    margin-bottom: 20px;
}

header h1.logo {
    font-family: 'Notable', sans-serif;
    position: relative;
    top: -0.25em;
    padding: 0;
    margin: 0;
}

header h1.logo a {
    text-decoration: none;
    color: black;
}

h1.logo span {
    display: inline-block;
    font-size: 1em;
}

h1.logo span::first-letter, h1.logo span::first-letter {
    font-size: 1.25em;
}

nav.logged-out a {
    margin-left: 1em;
}

main {
    background-color: rgba(255, 255, 255, var(--bg-transparency));
    padding: 1.5em;
    margin-bottom: 1.5em;
    min-height: calc(100vh - 130px);
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.small {
    font-size: .5em;
}

.intro {
    margin: 1em 0;
}

form {
    margin: auto;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    padding: 1em;
}

form label.fancy {
    display: block;
    font-size: .75em;
    margin-bottom: .25em;
    text-transform: uppercase;
    letter-spacing: .05em;
}

form label.fancy::first-letter {
    font-size: 1.5em;
}

form label.error {
    display: block;
    font-size: .75em;
    margin-bottom: .25em;
    color: #d27467;
}

form label.radio {
    display: block;
}

form span.help {
    display: inline-block;
    color: rgb(121, 121, 121);
    font-size: .75em;
    margin-bottom: .75em;
}

form input {
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid grey;
    padding: .5em;
}

form input[type=radio] {
    width: auto;
}

form input[type=submit] {
    margin-bottom: .5em;
}

div.screenshots-row {
    display: flex;
    gap: .5em;
}

div.screenshot-image {
    width: 33.3333%;
    padding-top: 25%;
    margin-bottom: 1em;
    overflow: hidden;
    height: 0;

    background-size: cover;
    background-position: top center;

    position: relative;
}

a.screenshot-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.screenshot-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.screenshot-link a {
    display: none;
}

div.screenshot-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

div.screenshot-link:hover a {
    display: inline;
}
